<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div style="text-align:centered;text-align: center;">
					<br><br>
					<h3> Joe's Alexa Portal Admin Page</h3>
					<img src="images/alexa.png" width="200rem">
					<br><br>
					<hr>
					<h3>Jon Says</h3>
					<div>
						<%currentsaying["Items"].each do |f| %>
						<% if f["jonsays"] == true %>
						<%=f["name"]%> <a href="/deletephrase?id=<%=f["id"]%>" >Delete Me </a><br>
						<%end%>
						<%end%>
					</div>
					<br><br>
					<hr>
					<h3> Whose Shot, is it anyway?</h3>
				</div>
			</div>
		</div>
	</div>
</body>