<div class="container">

    <div class="col-xs-12">
      <section id="research" class="centered">
        <div class="apply-box">
                <h1 class="page-header">Contact</h1>

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <p class="contactmessage"><%=message%></p>

                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">Contact</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->

          <form action="/contact" method="POST">
            <div class="row">
                       <h2 class="fontcenter" style="margin-top: 0px;margin-bottom: 20px;">SEND A MESSAGE</h2>
             <br>

              <div class="col-md-7 col-sm-12">
                <div class="control-group form-group">
                  <div class="controls">
                    <label>* Name:</label>
                    <input required = "true" type="text" class="form-control" id="name" name="name" required>
                    <p class="help-block"></p>
                  </div>
                </div>
                <div class="control-group form-group">
                  <div class="controls">
                    <label>&nbsp; Phone Number:</label>
                    <input type="tel" class="form-control" id="phone" name="phone">
                  </div>
                </div>
                <div class="control-group form-group">
                  <div class="controls">
                    <label>* Email Address:</label>
                    <input   type="email" class="form-control" id="email" name="email" required = "true" >
                  </div>
                </div>
                  <div class="control-group form-group">
                  <div class="controls">
                    <label>* Reason for Contact:</label>
                    <select name="reason" class="selectcontact" id='reason'>
                       <option selected="" disabled="" style="display: none" value="">-Reason for Contact-</option>
                       <option value="Volunteer">Volunteer</option>
                       <option value="Share Story">Share Story</option>
                       <option value="Services">Services</option>
                       <option value="Other">Other</option>
                   </select>
                  </div>
                </div>
                 <div class="control-group form-group">
                  <label>* I'm not a robot! <%=num1%> + <%=num2%> =</label>
                  <input   type="number" class="form-control" name="robot" required = "true" >
                  <input type="hidden" name="sum" value=<%=sum%>>
                </div>
              </div>
              <div class="col-md-5 col-sm-12">
                <div class="control-group form-group">
                  <div class="controls ">
                    <label>* Message:</label>
                    <textarea rows="13" cols="150" class="form-control message" id="message" name ="message" required = "true" ></textarea>
                  </div>
                </div>
                <input class="contactsubmit btn-primary" type="submit" value="Submit" class="button">
<!--                <input type="checkbox" name="mailinglist" value="add"> Add me to the mailing list-->
              </div>
            </div>
          </form>
        </div>

      </section>
    </div>
</div>