
<body>
<div style="text-align:centered;text-align: center;">
	<br><br>
	<h3> Joe's Alexa Portal</h3>

	<img src="images/alexa.png" width="200rem">
	<br><br>
	<h5>An alexa portal, where you can add your very own Jon Say's phrase, <br>add your own shots to our Whose Shot skill and even decide who gets to partake in said shots.</h5>

	
	

	</div>

</body>