
<body>
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
<div style="text-align:centered;text-align: center;">
	<br><br>
	<h3> Whose shot, is it anyways?</h3>

	<img src="images/comingsoon.jpg" width="400rem">
	<br><br>
	<h5>Here you can add your very own flavor of shots to pick from,such as Tequlia,Southern Comfort,Whiped Vodka or whatver your hear desires. You may also get to decide who drinks along with you or choose from a predefined list which include some of the greats you can drink along with.</h5>

	
	

	</div>
		</div>
	</div>
</body>